#svg-holder {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 800px;
}

#buttons {
  position: absolute;
  left: 950px;
  top: 150px;
}

.imageViewer {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 800px;
  height: 600px;
  pointer-events: none;
}

.imageViewer .well, .imageViewer .surface {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: default;
  border: 1px solid black;
}

.imageViewer .well {
  overflow: hidden;
}

.imageViewer .surface {
}

.imageViewer .status {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 480px;
  left: 0px;
  display: none;
}

.imageViewer .well .tile {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}
