body {
  background: #F5F4F0;
}

#svg-holder {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 80px;
  bottom: 1px;
  /* background-color: #EAEFDE; */
  background-color: #F7FAEB;
}

.imageViewer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 80px;
  bottom: 1px;
  pointer-events: none;
  border-top: 1px solid black;
  box-shadow: 0 -4px 8px lightgray;
}

#slider {
  position: absolute;
  left: 20px;
  top: 10px;
  right: 20px;
  height: 14px;
}

#side-panel {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 170px;
  margin-left: -170px;
}

#highlighted-country {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: absolute;
  font-size: xx-large;
  color: black;
  /*
  -webkit-text-stroke: 1.0px white;
  -webkit-text-fill-color: black;
  */
  text-shadow: 0px 0px 10px gray;
  -webkit-text-shadow: 0px 0px 10px gray;
  pointer-events: none;
}

.imageViewer .well, .imageViewer .surface {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: default;
}

.imageViewer .well {
  overflow: hidden;
}

.imageViewer .surface {
}

.imageViewer .status {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 480px;
  left: 0px;
  display: none;
}

.imageViewer .well .tile {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

#year {
  font-size: large;
  font-weight: bold;
}
